body {
    font-family: sans-serif;
    background-color: aliceblue;
}

h1 {
    color: brown;
    text-align: center;
}

header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

ul {
    border: 1px dotted black;
    padding: 10px 10px 10px 30px;
}

a {
    text-decoration: none;
}

p {
    font-family: "휴먼편지체", sans-serif;
    font-size: 1em;
    text-indent: 1em;
}

h2 {
    color: blue;
    text-shadow: 2px 2px 3px gray;
}

footer {
    background-color: orange;
    border-radius: 10px;
    padding: 8px 12px;
    margin-top: 20px;
}

footer p {
    margin: 2px 0;
    text-indent: 0;
}

#sample p {
   font-family: sans-serif;
    text-indent: 0;
    margin-left: 100px;
}